<h1>Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<h2>Posts</h2>
<ul>
  <% if @user.posts.any? %>
    <% @user.posts.each do |post| %>
      <li><%= post.title %></li>
    <% end %>
  <% else %>
    <li>No post !!!</li>
  <% end %>
</ul>

<h2>Comments</h2>
<ul>
  <% if @user.comments.any? %>
    <% @user.comments.each do |comment| %>
      <li><%= comment.content %></li>
    <% end %>
  <% else %>
    <li>No comment !!!</li>
  <% end %>
</ul>
